extends layout

block content
  h1= title
  h2= "123"
  
  p Welcomett to #{title}
  
  ul
  li.first
    a(href='http://www.hao123.com/?tn=98723334_hao_pg') foo
  li
    a(href='#') bar
  li.last
    a(href='#') baz
