<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>百度新闻</title>
    <link rel='stylesheet' href='/stylesheets/baidunews.css' />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" type="x-icon" href="/images/favicon.png">
</head>

<body>
    <div class="wrapper">
        <div class="gotop"></div>
        <div class="feedback"></div>
        <div class="index_view">
            <div class="headcontainer">
                <div class="ui-new-toolbar">
                    <div class="new-toolbar-left">
                        <div class="baidu-btn"></div>
                        <div class="username-btn"></div>
                    </div>
                    <div class="new-toolbar-right">
                        <div class="search-btn"></div>
                        <div class="subscribe-btn"></div>
                    </div>
                </div>
                <!-- 新闻类列表 -->
                <div class="index_view_navigator">
                    <div class="liner"></div>
                    <div class="content">
                        <table>
                            <tr>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span class="cur" name="recommend">推荐</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span name="baijia">百家</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span name="bendi">本地</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span name="picture">图片</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span name="yule">娱乐</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span name="society">社会</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span name="junshi">军事</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span name="woman">女人</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span name="funny">搞笑</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span name="keji">科技</span>
                                    </div>
                                </td>
                                <td colspan="2">
                                    <div class="list list-more">
                                        <b></b>
                                        <span class="more" name="more">更多</span>
                                        <span class="down-triangle"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="hidden">
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span>生活</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span>国际</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span>国内</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span>体育</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span>汽车</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span>财经</span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="hidden">
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span>房产</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span>时尚</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span>教育</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span>游戏</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span>旅游</span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <div class="list">
                                        <b></b>
                                        <span>人文</span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="hidden">
                                <td colspan="2">
                                    <div class="list">
                                        <b></b>
                                        <span class="morelist">创意</span>
                                    </div>
                                </td>
                                <td colspan="2">
                                    <div class="list">
                                        <b></b>
                                        <span class="morelist">互联网+</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="liner" style="display:none"></div>
                    <div class="footer">
                        <div class="btn-group">
                            <span>记者榜</span>
                            <b></b>
                            <span class="media">媒体榜</span>
                            <b></b>
                            <span class="manage">删除及排序</span>
                        </div>
                        <div class="less">
                            <span>收起</span>
                            <div class="up-triangle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 轮播图 -->
            <div class="news-container">
                <!-- 图片轮播图 -->
                <div class="index-view-subpage">
                    <div class="topic-gallery-container">
                        <div class="imagebox">
                            <ul class="images">
                                <li>
                                    <img id="image1" src="/images/news1.jpg">
                                    <h4 class="g-title">
                                  <span>海南千吨建筑垃圾"入侵"万泉河</span>
                                </h4>
                                </li>
                                <li>
                                    <img id="image2" src="/images/news2.jpg">
                                    <h4 class="g-title">
                                <span>玉女杨钰莹逆生长似少女</span>
                                </h4>
                                </li>
                                <li>
                                    <img id="image3" src="/images/news3.jpg">
                                    <h4 class="g-title">
                                <span>结婚周年怎么办？黄晓明Baby撸个串</span>
                                </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="num">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <!-- 文字轮播图 -->
                <div class="ui-hotword">
                    <div class="hotword-box">
                        <div class="hot-text">
                            <span>热点</span>
                        </div>
                        <div class="hot-container">
                            <ul>
                                <li>
                                    <span>中国卫星拍美军航母港口</span>
                                    <b class="arrow-right"></b>
                                </li>
                                <li>
                                    <span>赴泰旅行团全团被拒</span>
                                    <b class="arrow-right"></b>
                                </li>
                                <li>
                                    <span>超级地震车</span>
                                    <b class="arrow-right"></b>
                                </li>
                                <li>
                                    <span>老人收养120斤蟒蛇当宠物</span>
                                    <b class="arrow-right"></b>
                                </li>
                                <li>
                                    <span>瓜农种出160斤超大西瓜</span>
                                    <b class="arrow-right"></b>
                                </li>
                                <li>
                                    <span>男孩带水枪离家出走</span>
                                    <b class="arrow-right"></b>
                                </li>
                                <li>
                                    <span>端午节拼假攻略</span>
                                    <b class="arrow-right"></b>
                                </li>
                                <li>
                                    <span>微信不实名不能发红包</span>
                                    <b class="arrow-right"></b>
                                </li>
                                <li>
                                    <span>10余省出台社保降费方案</span>
                                    <b class="arrow-right"></b>
                                </li>
                                <li>
                                    <span>默克尔携丈夫参加G7峰会</span>
                                    <b class="arrow-right"></b>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 新闻展示版面 -->
                <div class="index-view-subpage-feed">
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="./javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="./javascripts/click.js"></script>
    <script type="text/javascript" src="./javascripts/bdnews.js"></script>
</body>

</html>
