<!DOCTYPE html>
<html>
  <head>   
     <meta charset="utf-8">
    <title>News background sql</title> 
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>

  
    <body>
    <div class="container">
        <div class="left">
            <h1 class="text-title">新闻系统后台数据库</h1>
        </div>
        <div class="text-content">
            <div class="text-content-list">
                <table>
                    <tr>
                        <td id="recommend" name="recommend">推荐</td>
                    </tr>
                    <tr>
                        <td id="baijia" name="baijia">百家</td>
                    </tr>
                    <tr>
                        <td id="bendi" name="bendi">本地</td>
                    </tr>
                    <tr>
                        <td id="picture" name="picture">图片</td>
                    </tr>
                    <tr>
                        <td id="yule" name='yule'>娱乐</td>
                    </tr>
                    <tr>
                        <td id="society" name="society">社会</td>
                    </tr>
                    <tr>
                        <td id="junshi" name="junshi">军事</td>
                    </tr>
                    <tr>
                        <td id="woman" name="woman">女人</td>
                    </tr>
                    <tr>
                        <td id="funny" name="funny">搞笑</td>
                    </tr>
                    <tr>
                        <td id="keji" name="keji">科技</td>
                    </tr>
                </table>
            </div>
            <div class="news-conainer">
                <div class="news-title">
                    <h2><span>推荐</span>页面新闻</h2>
                    <h5 id="add">+添加</h5>
                    <button id="goback">返回</button>
                </div>
                <div class="news-content-list">
                    <table>
                        <thead>
                            <tr class="newhead">
                                <th class="newhead-id">ID</th>
                                <th class="newhead-title">新闻标题</th>
                                <th class="newhead-content">新闻内容</th>
                                <th class="newhead-contenturl">新闻链接</th>
                                <th class="newhead-imgurl">图片地址</th>
                                <th class="newhead-type">新闻类型</th>
                                <th class="newhead-time">发表时间</th>
                                <th class="operation">操作</th>
                            </tr>
                        </thead>
                        <tbody id="news-content" class="news-content">
                        </tbody>

                    </table>
                </div>
                <div class="news-update" style="display:none">
                    <form>
                        <p>
                            <label for="newstitle"><b>*</b>标题:</label>
                            <input type="text" name="newstitle" id="newstitle">
                        </p>
                        
                        <p>
                            <label for="content_url"><b>*</b>新闻链接:</label>
                            <input type="url" name="content_url" id="content_url">
                        </p>
                        <p>
                            <label for="imgurl">图片地址:</label>
                            <input type="url" name="imgurl" id="imgurl">
                        </p>
                        <p>
                            <label for="newsfrom">新闻来自:</label>  
                            <input type="text" name="newsfrom" id="newsfrom">
                        </p>
                        <p>
                            <label for="date">日期:</label> 
                            <input type="text" name="date" id="date">
                        </p>
                        <p>
                           <label for="newscontent" class="content"><b>*</b>内容:</label> 
                           <textarea name="newscontent" id="newscontent"></textarea>
                        </p>
                        <input type="button" name="submit" id="submit" value="提交">
                    </form>
                    <p class="hidden"></p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="./javascripts/index.js"></script>
</body>
  
</html>
